body {
    background-color: #24527a;
}

div#app {
    border-radius: 5px;
    padding: 80px;
    padding-top: 20px;
    margin: 80px;
    background-color: #ffffff;
    font-family: Helvetica, sans-serif, Arial;
    position: relative;
}

div.loading {
    color: white;
}

h1 {
    color: #24527a;
    position: relative;
    margin-bottom: 60px;
    top: 0px;
}

img {
    width: 230px;
    top: 20px;
    right: 80px;
}

div.results {
    background-color: #e8f0fe;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    margin: 5px;
}

div.results li {
    color: black;
}

input[type=submit] {
    width: 15%;
    background-color: #24527a;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #24527a;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.errors {
    color: rgb(172, 2, 2);
}
